.purchase-location-marker {
    font-size: max(2rem);
}
.disembarked-marker {
    font-size: max(2rem);
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

//CHANGE
.map {
    display: flex;
    flex-wrap: wrap;
}
.filters {
    flex: 1 1 40rem;
}

.position-rel {
    display: flex;
    position: relative;
}

.marker {
    background-image: url("../components/images/battleship.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-overlay button {
    font: 600 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease;
}

.btn-overlay button:hover {
    background-color: #4ea0da;
    transform: scale(1.1);
}

.nav-controls {
    right: 1%;
    top: 10%;
}

.mapview-library {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 3rem;
    z-index: 100;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.mapview-library:hover {
    transform: scale(1.1);
}
.active-marker {
    pointer-events: none;
    color: white;
}
.ship-icon {
    color: black;
}
.active-ship-icon {
    color: white;
}

.tradeship-marker:hover {
    width: 40px;
    height: 40px;
}

.launch-tour {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: #fff;
    left: -40%;
    top: 1%;
    border: none;
    &:hover {
        background-color: #33c06e;
        color: #fff;
        cursor: pointer;
    }
}

//CHANGES
.map-viewport {
    display: flex;
    position: relative;
    width: 60%;
    height: 100%;
}
//CHANGES
div.overlays {
    display: flex;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 599px) {
    .map-viewport {
        display: block;
        width: 90vw;
    }
    div.overlays {
        display: block;
        width: 90vw;
    }
    body {
        overflow-x: hidden;
    }
}
